<%= form_for(@signup) do |f| %>
	<% if @signup.errors.any? %>
    	<div id="error_explanation">
			<%= @signup.errors.full_messages.first %>
    	</div>
  	<% end %>
	<div>
		<div class="signup-form">
			<%= f.text_field :email, :placeholder => "Email Address" %>
			<%= f.hidden_field :sender_id, { :value => params[:p] } %>
			<%= f.submit "Join", :class => "beta-button" %>
  		</div>
	</div>	
<% end %>