<h1>All Signups</h1>

<%= will_paginate %>

<table align="center" width="800px" border="1" cellpadding="3" cellspacing="0">
	<tr>
		<th><%= link_to "Email Address" %></th>
		<th><%= link_to "Invitation Code" %></th>
		<th><%= link_to "Referred By (Code)" %></th>
		<th><%= link_to "Referrals Made" %></th>
	</tr>
<% @signups.each do |signups| %>
	<tr>
		<td><%= signups.email %></td>
		<td><%= signups.invitation_token %></td>
		<td><% if signups.sender_id? %><%= signups.sender_id %><% else %>N/A<% end %></td>
		<td align="center"><%= Signup.count(:conditions => ['sender_id = ?', signups.invitation_token ]) %></td>
	</tr>
<% end %>
</table>

<%= will_paginate %>