<div class="show">
	<h1>Sharing is Caring</h1>
	<div class="spread">
		Spread the Word and get cool shit:
	</div>
	<div class="sharing">
		<span>Share this Link:</span><br />
		<div class="full-link">
			<%= @your_domain %><%= @referral_code_identifier %><%= @signup.invitation_token %>
		</div>
	</div>
	<div class="twitter">
		<p>
			Or, if you want to be really cool, you should share it with your friends:
		</p>
		<a href="<%= @twitter_domain_text %><%= @twitter_message_text %><%= @your_domain %><%= @referral_code_identifier %><%= @signup.invitation_token %>" target="_blank"><%= image_tag("twitter-button.png", :alt => "Twitter Button") %></a>
	</div>
</div>